@import "navigationbar.css";

@font-face {
    font-family: Quicksand;
    src: url("../fonts/Quicksand-VariableFont_wght.ttf");
}

body {
    font-family: Quicksand, Arial, serif;
}

.noselect {
    user-select: none;
}

.dark_background {
    background-color: #16181c;
}

.no_periphery {
    margin: 0;
    padding: 0;
}

.flex_center {
    display: flex;
    justify-content: center;
}

.flex_right {
    display: flex;
    justify-content: right;
}