html {
    background-color: #16181c;
}

.topview {
    position: relative;
}

.account_panel {
    position: absolute;
    top: 186px;
}

.topimage_container {
    position: absolute;
    top: 0;
}

.account_panel_part {
    padding: 24px;

    border-style: solid;
    border-color: #b7b7b7;
    border-radius: 5px;
    border-width: 1px;

    color: white;

    transition: 320ms;
}

.account_panel_part:hover {
    border-color: white;
}

.topimage {
    width: 1067px;
    height: 341px;

    padding-top: 15px;
}

.login_panel {
    width: 156px;
}

.login_panel form {
    display: flex;
    flex-direction: column;
}

.signup_panel {

}

.account_panel_placeholder {
    width: 22px;
}