html {
    background-color: #16181c;
}

.topimage {
    width: 1067px;
    height: 341px;

    padding-top: 15px;
}

.account_panel {

}

.account_panel_placeholder {
    width: 22px;
}

.account_panel_part {
    padding: 24px;

    border-style: solid;
    border-color: #b7b7b7;
    border-radius: 3%;
    border-width: 1px;

    color: white;

    transition: 320ms;
}

.account_panel_part:hover {
    border-color: white;
    border-radius: 10%;
}

.login_panel {

}

.signup_panel {

}