.nav_box {
    display: flex;
    justify-content: center;

    list-style: none;
}

.nav_box a {
    display: block;
    padding: 7px 23px;
    margin: 7px 23px;

    color: #b7b7b7;
    font-size: 18px;
    font-weight: 500;

    text-decoration: none;

    transition: 320ms;
}

.nav_box li a:hover {
    color: white;
    font-weight: bolder;
}