.nav_box {
  display: flex;
  justify-content: center;

  list-style: none;

  font-family: Quicksand, Arial, serif;

  a {
    display: block;
    padding: 7px 23px;
    margin: 7px 23px;

    color: #b7b7b7;
    font-size: 18px;
    font-weight: 500;

    text-decoration: none;

    transition: 320ms;
  }

  li:hover a {
    color: white;
    font-weight: bolder;
  }
}